
<h1 class="text-center">Speakers</h1>
<hr class="featurette-divider">

<div class="container marketing text-center">
    <button class="btn btn-primary" (click)="AddSpeker()">Add Speaker</button>
    <hr>
    <div class="row">
        <div *ngFor="let item of speakers" class="container col-lg-4 d-block mx-lg-auto">
            <img class="d-block mx-auto mb-4" src="../../../assets/images/p3.jpg" alt="" width="140" height="140">
            <h2 class="fw-normal">{{item.name}}</h2>
            <p>
                {{item.bio}}
                <!-- And lastly this, the third column of representative placeholder content. -->
            </p>
            <p>
                <a class="btn btn-secondary"(click)="speakerDetails(item._id)">View details &raquo;</a>
                <a class="btn btn-success" (click)="EditSpeaker(item._id)">Edit</a>
                <a class="btn btn-danger" (click)="DeleteSpeaker(item._id)">Delete</a>
            </p>
        </div>
    </div>
</div>
