<div  class="container marketing text-center">
    <h1 class="text-center">Speakers</h1>
    <hr class="featurette-divider">
    <div  *ngIf=" user && user.role == 'admin'">
        <button  class="btn btn-primary" (click)="AddSpeker()">Add Speaker</button>
        <hr>
    </div>
    <div class="row">
        <div *ngFor="let item of speakers" class="container col-lg-4 d-block mx-lg-auto">
            <img class="d-block mx-auto mb-4" src="../../../assets/images/p3.jpg" alt="" width="140" height="140">
            <h2 class="fw-normal">{{item.name}}</h2>
            <p>
                {{item.bio}}
                <!-- And lastly this, the third column of representative placeholder content. -->
            </p>
            <p>

                <a class="btn btn-secondary" [routerLink]="['/speakers/details/'+item._id]">
                    View details &raquo;
                </a>
                <a *ngIf=" user && (user.role == 'admin'|| user._id == item._id)" class="btn btn-success"
                    [routerLink]="['/speakers/edit/'+item._id]">
                    Edit
                </a>
                <a *ngIf=" user && (user.role == 'admin'|| user._id == item._id)" class="btn btn-danger"
                    [routerLink]="['/speakers/delete/'+item._id]">
                    Delete
                </a>
            </p>
        </div>
    </div>
</div>


<ng-template #notAuth>
    <div class="contianer text-center">
        <h1>Not Authorized page</h1>
    </div>
</ng-template>