
<!-- Navbar -->
<div class="">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Events </span>
    </a>

    <ul class="nav nav-pills">

      <li class="nav-item"><a routerLink="/" class="nav-link " aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/events" class="nav-link">Events</a></li>
      <li class="nav-item"><a routerLink="/speakers" class="nav-link">Speakers</a></li>
      <li *ngIf="user && user.role=='admin'" class="nav-item"><a routerLink="/students" class="nav-link">Students</a></li>
      
      <li *ngIf="!user" class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
      <!-- <li *ngIf="!user" class="nav-item"><a routerLink="/signup" class="nav-link">Sign Up</a></li> -->

      <li *ngIf="user && user.role!='admin'" class="nav-item"><a [routerLink]="[user.role+'s/details/'+user._id!]" (click)="Profile()" class="nav-link">Profile</a></li>
      <li *ngIf="user" class="nav-item"><input type="button" value="Logout" (click)="logout()" class="nav-link"/></li>
    </ul>
  </header>
</div>


