<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container py-5">
        <img class="d-block mx-auto mb-4" src="../../../assets/images/p3.jpg" alt="" width="140" height="140">
        <h1 class="display-5 fw-bold"> {{student.name}} </h1>
        <p class="col-md-12 fs-4">
            {{student.bio}}
        </p>
        <h1 class="display-8 fw-bold"> {{student.email}} </h1>
        <button class="btn btn-success btn-lg" type="button">Edit</button>
        <button class="btn btn-danger btn-lg" type="button">Delete</button>
    </div>
</div>