<br>
<main *ngIf="user.role=='admin' || (user._id==student._id), else notAuth" class="container form-signin w-100 col-md-4 col-md-offset-4">
    <div id="formdiv" class="container col-md-6 col-md-offset-6">
        <!-- <img class="mb-4" src="" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal text-center">Edit Student</h1>
        <div class="form-floating">
            <input [(ngModel)]="student.name" type="text" class="form-control" id="name" >
            <label for="name">Name</label>
        </div>
        <br>
        <div class="form-floating">
            <input [(ngModel)]="student.username" type="text" class="form-control" id="username">
            <label for="username">UserName</label>
        </div>
        <br>
        <div class="form-floating">
            <input [(ngModel)]="student.email" type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email</label>
        </div>
        <br>
        <div class="form-floating">
            <input [(ngModel)]="student.age" type="number" class="form-control" id="age" >
            <label for="age">Age</label>
        </div>
        <br>
        <div class="form-floating ">
            <input [(ngModel)]="student.password" type="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <br>
        <div class="form-floating">
            <input [(ngModel)]="student.bio" type="text" class="form-control" id="bio" >
            <label for="bio">Bio</label>
        </div>
        <br>
        <button (click)="editStudent()" class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
    </div>
</main>
<br>

<ng-template #notAuth>
    <div class="contianer text-center">
        <h1>Not Authorized page</h1>
    </div>
</ng-template>